[submodule "src/github.com/goamz/goamz"]
	path = src/github.com/goamz/goamz
	url = git@github.com:goamz/goamz.git
[submodule "src/github.com/jessevdk/go-flags"]
	path = src/github.com/jessevdk/go-flags
	url = git@github.com:jessevdk/go-flags.git
